{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    {% include 'security/menu.html.twig' %}
    
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Compte</h1>

    {% if app.user %}
        <p>Connecté en tant que : {{ app.user.username }}</p>
    {% else %}
        <p>Vous n’êtes pas connecté.</p>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Mot de passe :'
        }) }}
        
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.roles) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
    {% if is_granted('ROLE_CHAUFFEUR')%}
        <h2>Mes véhicules</h2>
        <a href="{{ path('vehicule_index') }}" class="btn btn-secondary">Gérer mes véhicules</a>
    {% endif %}
{% endblock %}
