{% extends 'base.html.twig' %}

{% block body %}

    {% include 'security/menu.html.twig' %}
    
    <h1>Avis en attente</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Passager</th>
                <th>Chauffeur</th>
                <th>Note</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for a in reviews %}
                <tr>
                    <td>{{ a.reviewer.username }}</td>
                    <td>{{ a.driver.username }}</td>
                    <td>{{ a.note }}</td>
                    <td>{{ a.commentaire }}</td>
                    <td>
                        <a href="{{ path('app_reviews_valider', {id: a.id}) }}" class="btn btn-success btn-sm">Valider</a>
                        <a href="{{ path('app_reviews_refuser', {id: a.id}) }}" class="btn btn-danger btn-sm">Refuser</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5">Aucun avis en attente</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Incidents en attente</h1>

    <table class="table table-warning">
        <thead>
            <tr>
                <th>Passager</th>
                <th>Chauffeur</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {# incidents|default([]) évite l'erreur "variable inconnue" #}
            {% for i in incidents|default([]) %}
                <tr>
                    <td>{{ i.reviewer.username }}</td>
                    <td>{{ i.driver.username }}</td>
                    <td>{{ i.incidentDescription }}</td>
                    <td>
                        <a href="{{ path('app_reviews_valider', {id: i.id}) }}" class="btn btn-success btn-sm">Valider</a>
                        <a href="{{ path('app_reviews_refuser', {id: i.id}) }}" class="btn btn-danger btn-sm">Refuser</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="4">Aucun incident en attente</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
